/* T채nne paikalliset CSS, kirjastot/framet/yhteinen CSS -> resources/css */


/* Bodyn muotoilut */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282B59;
    margin: 0px;
    padding: 0px;
}
/*elokuvawiki-otsikon muotoilu*/
.elokuvawiki-title {
    font-family: "Pirata One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #ffde9c;
}

/* elokuvahaku-container*/
.movie-searchbar-container {
    background-color: #ffde9c;;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}

/* elokuvahaku-otsikko */
.movie-searchbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    padding-bottom: 2%;
}
/* elokuva-hakukentt채 */
.movie-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

/* elokuva-hakukent채n muotoilu */
.movie-searchbar input {
    width: 50%;
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
    outline: none;
}
/*Hakukent채n tulosten muotoilu*/
.search-result-container {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    align-items: left;
    background-color: #14162e;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 24px;
    padding: 5%;
    padding-bottom: 10%;
}
.search-result {
    display: flex;
    justify-content: space-between;
    align-items: left;
}
.search-result-title {
    color: whitesmoke;
    margin-left: 10%;
    font-size: 24px;
}
.search-result-image {
    margin-right: 2%;
    margin-left: 10%;
    margin-top: 1%;
    background-color: black;
}
.search-result-text {
    color: whitesmoke;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 0.7%;
    font-size: 18px;
}