/* Osio - Flexbox keskittämiseen */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Koko näytön korkeus */
}

/* Wrapper - Poistettu tarpeeton marginaali */
.wrapper {
    display: flex;
    justify-content: center;
    color: black;
}

/* Landing-teksti - Suhteellinen asema ja keskitys */
.landing-text {
    position: relative; /* Muutettu kiinteästä suhteelliseksi */
    z-index: 4;
    padding: 5px 40px 30px;
    border-radius: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateY(50px); /* Pienempi siirtymä alaspäin */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.landing-text.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Himmennysanimaatio */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Runko - Flexbox-asettelu koko näytölle */
body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Runko käyttää koko näytön korkeuden */
}

/* Logo - Keskitetty kohdistus ja marginaalit */
.logo {
    z-index: 4;
    margin: 20px 0; /* Säädetty marginaali väliin */
    text-align: center;
}

.logo img {
    width: 400px;
    height: auto;
}

/* Painikkeet*/
.btn {
    background-color: #ffde9c;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    border: 2px solid #ffde9c;
}

.btn:hover {
    background-color: #426754;
    border: 2px solid #ffde9c;
}

.btn:hover a {
    color: #ffde9c;
}

.btn a {
    text-decoration: none;
    color: #14162e;
    font-weight: bolder;
    font-size: 30px;
    transition: color 0.3s ease;
}

/* Musiikin toggle-nappi */

#toggle-music-btn {
    position: fixed;
    bottom: 50px;
    text-align: center;
    background-color: #426754;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}
#toggle-music-btn:hover {
    background-color: #ffde9c;
    color: #14162e;
}


/* Tausta*/
.cover {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.cover img, .cover video {
    display: block;
    height: auto;
    left: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    right: auto;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 1;
}

@supports (transform: translateX(-50%)) {
    .cover img, .cover video {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* Kuvasuhteen säätö */
@media screen and (min-aspect-ratio: 16/9) {
    .cover img, .cover video {
        max-width: 100vw;
        min-width: 100vw;
        width: 100vw;
    }
}

@media screen and (max-aspect-ratio: 16/9) {
    .cover img, .cover video {
        height: 100vh;
        max-height: 100vh;
        min-height: 100vh;
    }
}
