/* Headerin muotoilut */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14162e;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* Headerin ikonit ja logot */
.menu-icon {
    background: url(/resources/images/menu-icon-gold.png) no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: flex;
    flex: 1;
}
.container-logo-header {
    background: url(/resources/images/LOGO-Kalevala-Engrave-modified.png) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 20px;
}

/* Top-navin muotoilut */
.top-nav {
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-left: 20px;
    position: sticky;
}

/* Siirretään "Rekisteröityminen" oikealle */
.top-nav-right {
    margin-left: auto;
}

/* Aktiivinen sivu näkyy alleviivattuna navigaatiopalkissa (+ JS-scripti) */
.top-nav a.active {
    text-decoration: underline;
    color: whitesmoke;
}

/* Muotoilut side-navin napille */
.dropbtn {
    background-color: #14162e;
    color: #ffde9c;
    font-size: 20px;
    border: none;
    padding: 5px;
}

/* Side-navin positio */
.side-nav {
    position: relative;
}

/* Side-navin muotoilut (piilotettu default) */
.side-nav-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #14162e;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ffde9c;
    border-radius: 5px;
}

/* Side-navin sisällön muotoilu */
.side-nav-content a {
    font-family: 'Roboto', sans-serif;
    color: #ffde9c;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 15px;
}

/* Side-navin linkkien väri vaihtuu hoveratessa */
.side-nav-content a:hover {
    background-color:#426754;
    border: 1px solid #ffde9c;
    border-radius: 5px;
}

/* Side-nav menu näkyy hoveratessa */
.side-nav:hover .side-nav-content {display: block;}

/* Side-navin napin väri vaihtuu, kun valikko on auki */
.side-nav:hover .dropbtn {background-color: #847f56;}

/* Top-navin muotoilut */
.top-nav a {
    font-family: 'Roboto', sans-serif;
    color:#ffde9c;
    padding: 40px;
    text-decoration: none;
    font-size: 20px;
}

/* Piilottaa nav barin kun näytön leveys < 1472px */
@media (max-width: 1472px) {
    .top-nav {
        display: none;
    }
    .container-logo-header {
        margin-right: 20px;
    }
}

/*Napit vaihtaa väriä kun hoveraa*/
.top-nav a:hover {
    background-color: #426754;
    border: 2px solid #ffde9c;
    border-radius: 5px;
}
/*Headerin hakukenttä*/
.nav-searchbar {
    background-color:#282B59;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border: 2px solid #ffde9c;
    width: max-content;
}
/*Headerin hakukentän tuloslistan muotoilut*/
#resultsList {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #14162e;
    color: #ffde9c;
    width: calc(100% - 20px);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
}
#resultsList li {
    padding: 8px;
    cursor: pointer;
}
#resultsList li:hover {
    background-color:#426754;
    color: #ffffff
}
/*Sana korostuu sivulla kun etsii headerin hakukentästä*/
.highlight {
    background-color: azure;
}

/* Bodyn muotoilut */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282B59;
    margin: 0px;
    padding: 0px;
}

/* Footerin muotoilut */

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Footer Content Section */
.footer-content-section {
    background-color:#14162e; /* Taustan väri */
    color: #fff; /* Tekstin väri */
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Tasaisesti jaetut kolumnit */
    align-items: flex-start; /* Kohdistus yläreunaan */
    flex-wrap: wrap; /* Rivittyminen pienillä näytöillä */
    gap: 200px; /* Väli kolumnien välillä */
}

/* Sarakkeet */
.footer-content > div {
    flex: 1; /* Kolumnit saavat saman tilan */
    min-width: 250px; /* Vähimmäisleveys */
}

/* Yhteystiedot */
.footer-contact {
    text-align: left;
}

/* Logo keskellä */
.footer-logo {
    text-align: center;
}

.footer-logo img {
    margin-top: 10%;
    max-width: 300px;
    height: auto;
   
}
.footer-copyright {
    color: #ffde9c;
}

/* Uutiskirje ja some */
.footer-news-social {
    text-align: left;
}

.footer-news-social input {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
}

.footer-news-social button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5de8d; /* Keltainen */
    color: #000;
    border: none;
    cursor: pointer;
}

.footer-news-social .social-icons {
    margin-top: 20px;
}

.footer-news-social .social-icons img {
    width: 50x;
    height: 50px;
    margin: 10px;
}
.social-icons a:hover img {
    transform: scale(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2); /* Kirkastaa kuvaketta hoverilla */
}
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Asettelu pystysuuntaan pienillä näytöillä */
        align-items: center; /* Kohdistus keskelle */
    }

    .footer-news-social input {
        width: 100%; /* Täyttää koko leveys pienillä näytöillä */
    }
    
    footer, footer * {
        font-family: "Roboto", system-ui;
        color: whitesmoke; /* Varmista värin soveltuminen */
    }
    .footer-news-social button {
        color: #000;
    }
    .footer-news-social input {
        color: #000;
    }
}
