/* Tänne paikalliset CSS, kirjastot/framet resources/css */

/* Otetaan engravers-old-english -fontti käyttöön */
@font-face {
    src: url(/resources/fonts/OPTIEngraversOldEnglish.otf);
    font-family: "OPTIEngraversOldEnglish";
}

/* Headerin ikonit ja logot */
.menu-icon {
    background: url(/resources/images/menu-icon-gold.png) no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: flex;
    flex: 1;
}
.container-logo-header {
    background: url(/resources/images/LOGO-Kalevala-Engrave-modified.png) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 20px;
}

/* Luodaan flexboxit headerille */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14162e;
    padding: 5px;
    position: sticky;
    top: 0;
}
.header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.top-nav {
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-left: 20px;
    position: sticky;
}

/* Siirretään "Rekisteröityminen" oikealle */
.top-nav-right {
    margin-left: auto;
}

/* Headerin otsikko */
.header-title a {
    font-family: "OPTIEngraversOldEnglish", sans-serif;
    text-decoration: none;
    color: #ffde9c;
}

/* Muotoilut side-navin napille */
.dropbtn {
    background-color: #14162e;
    color: #ffde9c;
    font-size: 20px;
    border: none;
    padding: 5px;
}

/* Side-navin positio */
.side-nav {
    position: relative;
}

/* Side-navin muotoilut (piilotettu default) */
.side-nav-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #14162e;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ffde9c;
    border-radius: 5px;
}

/* Side-navin sisällön muotoilu */
.side-nav-content a {
    font-family: 'Roboto', sans-serif;
    color: #ffde9c;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 15px;
}

/* Side-navin linkkien väri vaihtuu hoveratessa */
.side-nav-content a:hover {
    background-color:#426754;
    border: 1px solid #ffde9c;
    border-radius: 5px;
}

/* Side-nav menu näkyy hoveratessa */
.side-nav:hover .side-nav-content {display: block;}

/* Side-navin napin väri vaihtuu, kun valikko on auki */
.side-nav:hover .dropbtn {background-color: #847f56;}

/* Top navin muotoilut */
.top-nav a {
    font-family: 'Roboto', sans-serif;
    color:#ffde9c;
    padding: 40px;
    text-decoration: none;
    font-size: 20px;
}
/* Piilottaa nav barin kun näytön koko < 600px */
@media (max-width: 600px) {
    .top-nav {
        display: none;
    }
}
.top-nav a:hover {
    background-color: #426754;
    border: 2px solid #ffde9c;
    border-radius: 5px;
}

.top-nav a.active {
    background-color: #282B59;
    border: 2px solid #ffde9c;
    border-radius: 5px;
}

.searchbar {
    background-color:#426754;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border: 2px solid #ffde9c;
}

/* Bodyn muotoilut */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282B59;
    margin: 0px;
    padding: 0px;
}
/* "Suosituimmat elokuvat"-otsikko */
.top-films-title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffde9c;
    margin-top: 2%;
    margin-left: 10%;
}
/* "Suosituimmat elokuvat"-kuvat */
.top-films {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    margin-left: 10%;
}
/* "Ajankohtaista" */
.news-title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffde9c;
    margin-top: 2%;
    margin-left: 10%;
}
.news {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    color: whitesmoke;
    font-size: small;
    padding-bottom: 10%;
}

/* Footerin muotoilut */
footer {
    text-align: center;
    margin-top: auto;
    color: #ffde9c;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: #14162e;
}