/* mainissa kaikki oleellinen mitä sivulta löytyy */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

p {
color: whitesmoke;
}
h1 {
  color: #ffde9c;
 
}

/* Rekisteröitymislomake */

.register-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 100%;
  background-color: #14162e;
  color: whitesmoke;
  border-radius: 24px;
  padding: 45px;
  padding-right: 60px;
}

/* otsikon muotoilut*/
.register-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
} 

.register-container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

/* muotoiluja lomakkeen tietokohtiin*/
.register-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
   font-weight: 500;
   margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3;

}

/* lomakkeessa klikatun kohdan korostus */
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: black;
} 

/* muokataan nappulaa */

form input[type="radio"]{
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #ffde9c;

}

/* hoverilla napin väri vaihtuu*/
form .button input:hover {
  background: #14162e;
}

/* RESPONSIIVISUUTTA TÄLLÄ */
@media (max-width: 734px) {

  .register-container{
    width: 70%;
    display: flex;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 90%;
  }
  .container form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }
  .container-signin {
    margin-bottom: 10%;
  }
}

/* Footerin muotoilut */
footer {
  text-align: center;
  margin-top: auto;
  color: #ffde9c;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #14162e;
}
