body{
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

/* kerhon kuvia yms */
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
} 

/* navigaatio */
h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float: left; 
}

/* Elokuvaraati-osion tyylit */
.elokuvaraati {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.elokuvaraati h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.raati-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.raati-jasen {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.raati-jasen img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.raati-jasen p {
    font-size: 14px;
    color: #ccc;
}

/* Responsiivinen tyyli mobiililaitteille */
@media (max-width: 768px) {
    .raati-container {
        flex-direction: column;
        align-items: center;
    }

    .raati-jasen {
        width: 80%;
    }
}

/* Footer-tyyli */
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

/* Rekisteröitymislomake */

/* Add padding to containers */
.form-container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }